{:mvn/repos
 {
 	"vendredi" {:url "https://repository.hellonico.info/repository/hellonico/"}
 }
 :deps { 
    opencv/opencv-native-ubuntu16-noffmpeg {:mvn/version "4.0.0-beta" }
    origami {:mvn/version "4.0.0-beta6" :exclusions [opencv/opencv-native]}

 }
}
