{:mvn/repos
 {
 	"vendredi" {:url "https://repository.hellonico.info/repository/hellonico/"}
 }
 :deps { 
    origami {:mvn/version "4.0.0-beta7" :exclusions [opencv/opencv-native]}
    opencv/opencv-native-libc_2_19  {:mvn/version "4.0.0-beta"}
 }
}
